@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Playfair Display", serif;
}
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}
.weatherInfo {
  font-size: 30px;
  position: relative;
  top: -180px;
}
.clock {
  font-size: 150px;

  position: relative;
  top: -100px;
}
li {
  list-style: none;
}

.hidden {
  display: none;
}
img {
  border-radius: 30px;
  box-shadow: 5px 5px 20px 3px;
}
input {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 20px;
  border-style: none;
  font-size: 30px;
}
input::placeholder {
  color: rgba(0, 0, 0, 0.715);
  font-size: 20px;
  opacity: 0.8;
}
#loginForm {
  position: relative;
  top: -80px;
}
.greeting {
  position: relative;
  top: -120px;
  font-size: 60px;
}
.under-coment {
  position: relative;
  top: -140px;
  opacity: 0.5;
}
#todoForm {
  position: relative;
  top: -100px;
}
#todoUl {
  position: relative;
  top: -100px;
  font-size: 20px;
  overflow: scroll;
  height: 150px;
  width: 300px;
}
ul::-webkit-scrollbar {
  display: none;
}
button {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
}
